#app{
    margin-top: 0vw;
}

#app .grid1{
    padding-left: 15%;
    padding-right: 15%;
}

#app .counter {
    margin-right: 10%;
    margin-top: 5vw;
    margin-bottom: 5vw;
}

#app .counter p {
    font-size: 1.5vw;
    line-height: 1.8;
}

#app .app {
    margin-top: 5vw;
    margin-bottom: 5vw;
}

#app .app img {
    max-width: 220px;
    margin-top: 2.5vw;
    border-radius: 5%;
}

#app_footer{
    margin-top: 0;
}



.offset {
    background-color: rgb(214, 236, 224);
}

@media only screen and (max-width: 800px) {
    *{
        padding: 0;
        margin: 0;
    }
    #app {
        
        width: 100%;
    }

    #app .grid1{
        padding-left: 2%;
        padding-right: 2%;
        width: 96%;
    }

    #app .app img {
        width: 90%;
        margin-left: 15%;
        padding-top: 0em;
        padding-bottom: 3em;
    }

    #app .counter p {
        font-size: 12pt;
        padding-left: 10%;
        line-height: 2.5;
    }

    #app .counter h1{
        padding-left: 10%;
        padding-top: 2.5em;
        font-size: 20pt;
    }

    #app .counter #appTittel {
        margin-bottom: 0.5em;
        margin-top: -9vw;
    }

    #app{
        padding-top: 80px;
    }

    

}

/*img{
    height: 85%;
    width: 70%;
    margin-top: -15%;
}
/*
.counter{
    height: 42vw;
    width: 30vw;
    margin-top: -1%;

}*/
