#contact .app img{
width: 100%;
}

#contact .app p{
    font-size: 1.4vw;
    text-align: left;
    line-height: 2;
}

#contact .app h1{
    margin-top: -2vw;
}

#contact .grid1{
    padding-bottom: 1.5vw;
}

#contact .staff .app p{
    letter-spacing: 1px;
    color: green;
    text-align: center;
}
