#index p {
    font-size: 1.4vw;
    text-align: left;
    line-height: 2;

}

#index h1{
    font-weight: bold;
    padding-top: 1.5vw;
}

#index span {
    font-weight: 700;
    color: green;
}

#index .grid1 .app img {
    margin-top: 3em;
    width: 100%;
}

#index .app{
    margin-top: 1vw;
}


