#index p {
    font-size: 1.4vw;
    text-align: left;
    line-height: 2;

}

#index h1{
    font-weight: bold;
    padding-top: 1.5vw;
}



#index .grid1 .app img {
    margin-top: 3em;
    width: 100%;
}

#index .app{
    margin-top: 1vw;
}

@media only screen and (max-width: 900px){
    #index .app p{
        font-size: 4.5vw;
        line-height: 2.5;
        
    }

    #index .app h1{
        padding-top: 18vw;
        padding-bottom: 10vw;
    }

    #index .app img{
        width: 70%;
    }

    #index{
        padding-top: 5vw;
    }
}

