*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}


main{
    margin-top: 10vw;
}

body{
    background-color: #ece9ec;
}

h1{
    margin: 2vw;
    color: #293F27;
    text-transform: uppercase;
}

p{
    margin: 2vw;
    color: black;
    line-height: 3;
}

span {
    font-weight: 700;
    color: #bb432b;
    letter-spacing: 1px;
}

/* NAVBAR */
.navbar {
    background-color: #293F27;
    top: 0;
    width: 100%;
    z-index: 999;
    position: fixed;
    height: 80px;
}

.navbar a img {
    height: 100%;
    float: left;
    margin-left: 2vw;
}

.navbar nav {
    float: right;
    line-height: 80px;
}

.navbar nav a {
    color: rgba(245, 240, 246, 1);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    display: inline-block;
    padding: 0px 30px;
    letter-spacing: 2px;
    margin: 0px;
    
}

.menuButton {
    float: right;
    line-height: 6px;
    padding: 0px 20px;
    cursor: pointer;
    display: none;
    color: white;
    text-align: center;
    font-size: 4vw;
}


#checkbox {
    display: none;
}

.navbar a:hover {
    color: #293F27;
    background-color: #ece9ec;
    text-decoration: underline;
    position: block;
    transition: 0.3s;
}

#current {
    text-decoration: underline;
}

/*end NAVBAR----------------------------------------------------------------------------------------
start FLEXGRID*/

.grid1{
    display: flex;
}

.app{
    flex: 1;
    margin-top: 3vw;
    margin-left: 5%;
    margin-bottom: 2vw;
    margin-right: 5%;
}

.app img {
    width: fit-content;
    height: auto;
}

.counter{
    flex:2;
}

.sosial img{
    width: 15%;
    padding: 1%;
    -webkit-filter: invert(1);
    filter: invert(1);
}

.sosial a{
    margin-left: 1.13em;
}

.sosial img:hover{
    -webkit-filter: invert(0);
    filter: invert(0);
    background-color: #ece9ec;
    border-radius: 20%;
    transition: 0.4s;
}

#copyright{
  color:#ece9ec;
  font-size: 1.25vw;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1;
}

/*Footer part ------------------------------------------------------------------------------------------*/

footer {
    margin-top: 11vw;
    background-color:#293F27;
    font-size: 1.6vw;
}

footer .app{
    text-align: center;
    margin-bottom: 0;
    margin-top: 2.32vw;
}

footer *{
margin: 0 px;
padding: 0 px;
}

footer h3{
    color:#ece9ec;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 1.5vw;
    margin-top: 0%;
}


footer .app a{
    font-size: 1.25vw;
    color: #ece9ec;
    letter-spacing: 2px;
    line-height: 1.9;
}

#contactinfo{
text-align: left;
}

ul li a:hover{
    color: salmon;
}

#rightalign a:hover{
  color: salmon;
}

footer li{
     color: #ece9ec;
     list-style: none;
     text-align: left;
}

#rightalign{
    text-align: right;

}
#rightalign h3{
    text-align: right;
}

/* Mediadel**********************************************************************************************/

@media only screen and (max-width: 900px) {
    .navbar nav a {
        padding: 0px 15px;
    }
}

@media only screen and (max-width: 800px) {
    .menuButton {
        display: inline-block;
        width: 100px;
        height: 100%;
        position: relative;
    }

    main{
        width: 100%;
        padding-top: 5vw;
    }
    .burger-bar {
        display: block;
        width: 100%;
        height: 5px;
        background-color: white;
        margin: 15px 0px;
        border-radius: 5px;
        transition: 150ms ease;
    }

    .navbar nav {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 80px;
        left: 0px;
        display: none;
        background-color: rgb(25, 25, 25);
    }

    .navbar nav a {
        display: block;
        text-align: center;
        font-size: 1.5rem;
        padding: 20px 0px;
    }



    #checkbox {
        display: none;
        opacity: 0;
        position: absolute;
        right: 0;
        width: 100px;
        height: 100%;
    }

    #checkbox:checked ~ nav {
        display: block;
    }

    #checkbox:hover {
        cursor: pointer;
    }

    #checkbox:focus ~ .menuButton{
        outline: 1px solid white;
        z-index: 1; /* Plasserer outline over menyen */
    }

    .grid1{
        display:block;
    }

    .navbar{
        position: fixed;
    }

    #rightalign h3, #rightalign, #coninfo ul li, #contactinfo, footer .app h3, #copyright{
        text-align: left;
        
    }

    footer, footer .app a, footer .app ul li, #copyright{
        font-size: 100%;
        letter-spacing: 3.5px;
    }

    footer h3{
        padding-top: 20%;
        letter-spacing: 3px;;
    }

    footer{
        padding-bottom: 20%;
    }
}
