#science .grid1 .app img {
    margin-top: 3em;
    width: 100%;
}

#science{
    margin-top: 0px;
}

#science .grid1{
    margin-right: 10%;
    margin-left: 10%;
}

#science .app{
    margin-left: 0;
}

#science .grid1 .counter img{
    width: 100%;
    margin-top: 5vw;
}

#science #vision #arrowdown{
    margin-bottom: 8em;
}

@media only screen and (max-width: 730px) {
  #science{
      padding-top: 80px;
  }  
  #science .grid1{
    margin-top: 18vw;
    margin-bottom: 10vw;
}

#science h1{
    padding-bottom: 10vw;
}


#science .counter img{
    width: 70%;
}

}
